<APPLIST mode="run" encryption="accessbaaccessba" dbclass="org.postgresql.Driver" dbpassword="Baraza2011" dbtemplate="baraza" logfile="baraza.log" greeting="Open Baraza Server" loglevel="info" dbusername="postgres" dbpath="jdbc:postgresql://localhost/postgres">
	<APP path="banking" dbname="banking" dbclass="org.postgresql.Driver" dbpassword="Baraza2011" org="org_id" dbusername="postgres" dbpath="jdbc:postgresql://localhost/banking" key="banking" xmlfile="banking.xml">Banking</APP>
	<APP path="baraza" dbname="baraza" auth="entity" dbclass="org.postgresql.Driver" dbpassword="Baraza2011" dbusername="postgres" dbpath="jdbc:postgresql://localhost/baraza" key="baraza" xmlfile="baraza.xml">Baraza</APP>
	<SERVER path="banking" dbname="banking" dbclass="org.postgresql.Driver" dbpassword="Baraza2011" disable="false" dbusername="postgres" dbpath="jdbc:postgresql://localhost/banking" xmlfile="tomcat.xml">HR Tomcat Server</SERVER>
	<SERVER path="banking" dbname="banking" dbclass="org.postgresql.Driver" dbpassword="Baraza2011" disable="true" dbusername="postgres" dbpath="jdbc:postgresql://localhost/banking" xmlfile="mail.xml">HR Mailing Server</SERVER>
</APPLIST>
